/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format('woff2');
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
}
/* rubik fonts */
/* rubik-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-v28-latin-regular.woff2") format("woff2");
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Rubik-Medium.woff") format("woff2");
}

/* rubik-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
/* *,
*::after,
*::before{
    box-sizing: inherit;
} */

html{
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Rubik",sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
}
main {
    flex-grow: 1;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
         display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER */
.header {
    border-top: 4px solid #295093;
    background-color: #F6F6F9;
    padding-top: 43px;
    padding-bottom: 23px;
}

.header-top-wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
}
.header_top_wrapper_left {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
/* LOGO */
.logo_img {
  width: 306px;
  height: 28px;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
  box-shadow: 0px 2px 6px 0px #CACACA40;
  display: flex;
  transition: transform 0.3s ease;
}
.logo_img:hover {
    transform: scale(1.015);
}

/* currrency */
.currency {
    display: flex;
    align-items:center;
    margin-left: 17px;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 19px;
    color:#7A7A7A;
}
.currency_item:not(:last-child) {
  margin-right: 26px;
}
.currency_icon {
    color: #285193;
}
/* header-left */
.header_top_wrapper__right {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
/* header_search */
.button_search {
    padding: 0;
    border: none;
    margin-right: 21px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.button_flaga:hover,
.button_search:hover {
-webkit-box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
    -moz-box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
    box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
}
.button-search_wrapper {
   padding: 8px;
   display: flex;
   align-items:center;
   justify-content: center;
}
/* button_flaga */
.button_flaga {
       padding: 10px;
        border: none;
        margin-right: 24px;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;

}
.button-flaga_wrapper {
    display: flex;
    align-items:center;
}
.flaga_img {
 margin-right: 5px;
}
.flaga_text {
    font-weight: 500;
}
/* telegram_icon */
.telegram_icon {
    background-color: #fff;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    color: #fff;
}
.telegram_icon:hover {
   background-image: linear-gradient(90deg, #37AEE2 15.07%,  #1E96C8 85.96%);
}
.telegram_icon_img {
    margin-right: 7px;
}

.header-bottom_img {
 display:  flex;
 width: 1240px;
}


/* SITENAV */
.sitenav {
    background-color: #ffff;
    box-shadow: 0px 2px 5px 0px #9F9F9F30;
    margin-bottom: 18px;
    font-size: 19px;
     list-style: 23px;
     font-weight: 500;
}
.sitenav-list {
    display: flex;
    align-items: center;
    padding: 22px 24px;
    justify-content:center;
    flex-wrap: wrap;
}
.sitenav-item:not(:last-child) {
   margin-right: 24px;
}
.sitenav-link {
    text-decoration: none;
    color: #515151;
    transition: all 0.3s;
}
.sitenav-link:hover {
 color: #295091;
}


/* FOOTER */
.footer-container {
    background-color: #295093;
    padding-top: 18px;
    padding-bottom: 13px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    
}

.footer-top {
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}

.footer-top_link {
    margin-right: auto;
    background-color: #133C82;
    border-radius: 5px;
    padding:  13px 10px 8px 10px;
}


.footer-top-text {
   margin-right: 17px;
   padding-right: 25px;
   padding-left: 25px;
}
.footer_telegram {
    background-color: #FFFFFF;
    color: #295093;
    transition: all 0.4s;
}
.footer_telegram:hover {
    color: black
}
.footer-hr {
    height: 3px;
    border: none;
    background-color: #133C82;
    margin-bottom: 12px;
}
.footer-bottom_text {
    margin-bottom: 10px;
    font-weight: 400;
    
}


.footer-bottom {
   display: flex;
   flex-wrap: wrap;

}



.footer-bottom_decription {
    max-width: 366px;
    margin-right: 111px;
    line-height: 20px;
    letter-spacing: 1px;
}

.footer-bottom__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 520px;
}

.footer-bottom-item {
    width: 50%;
    margin-bottom: 10px;
}

.footer-bottom_link {
    color: #fff;
    font-weight: 500;
    margin-right: 5px;
}
.footer-bottom_link:hover {
    text-decoration: underline;
}

/* MAIN QISMI */
 .main-container {
    padding-top: 18px;
    padding-bottom: 38px;
 }

 /* covid */
.covid-about {
    background-color: #F6F6F9;
    border-radius: 5px;
    padding: 29px 35px;
    display: flex;
    margin-bottom: 18px;
}


.covid-about__covid-box {
    display: flex;
    align-items:center
}
.covid-19 {
    width: 43px;
    height: 45px;
    margin-right: 25px;
}

.covid-about__covid-box_title {
    width: 232px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color:#000000;
    margin-right: 71px;    
}

.covid-about__list {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 22px;
    flex-grow: 1;
 
}

.covid-about_item {
    flex-grow: 1;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
    border-left: solid 2px #F4CCD1;
}
.covid-about_item_red {
    border-left: solid 2px #EB5569;
    padding-top: 17px;
    padding-bottom: 17px;
}
.covid-about-item_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.covid-about_infi {
    color: #DB0000;
}

.covid-about_info_number {
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}

.covid-about_viz {
    color: #05B135;
}

.covid-about_viz_number {
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}


.covid-about_umerli_number {
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}

/* NEWS QISMI */
.news-box {
    margin-bottom: 32px;
}

.news-box_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -21px;
}

.new-box_item {
    width: 386px;
    margin-bottom: 18px;
    margin-left: 21px;
    flex-grow: 1;
}

.new-box-item_img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 11px;
    object-position: center top;
}
.new-box-item_title {
    margin-bottom: 11px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
}
.new-box-item__link {
    color: #202020;
}

.new-box-item_date {
    font-size: 14px;
    line-height: 16px;
    color: #6B6D97;

}

/* subscription qismi */
.subscription {
    background-color:#EFBA542E;
    display: flex;
    align-items:center;
    padding: 28px 34px;
}

.subscription_img {
    width: 31px;
    height: 35px;
    margin-right: 17px;
}

.subscription_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color:#000000;
    margin-right: auto;
}

.subscription_btn {
    background-image: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    color: #fff;
    padding: 8px 12px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
     line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
}
.subscription_btn:hover {
    -webkit-box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
        -moz-box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
        box-shadow: 2px 7px 7px -2px rgba(161, 153, 161, 1);
}
/* NEWS SHORT */
.short-news {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.short-news-left {
    width: 794px;
    margin-bottom: 38px;
}
.short-news-left_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 13px;
}


.short-news-left-item {
    display: flex;
    margin-bottom: 22px;
}

.short-news-left-item-img {
    width: 242px;
    height: 143px;
    margin-right: 18px;
    object-fit: cover;
    border-radius: 5px
}

.short-news-left-list-box {
  width: 533px;
}

.short-news-left-list-box_title {
        margin-bottom: 8px;
}

.short-news-left-list-box-link {
        font-size: 17px;
        line-height: 20px;
        font-weight: 500;
        color: #202020;
}

.short-news-left-list-box_decription {
    color: #434343;
    margin-bottom: 12px;
}

.short-news-left-list-box_date {
    display: flex;
    align-items: center;
}
.short-news-wrapper {
    display: flex;
    align-items:center;
    justify-content:center;
}

.short-news-btn {
  background-color: #295093;
  color: #FFFFFF;
  padding: 10px 32px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s;
}
.short-news-btn:hover {
    background-color: #3575e4;
}

/* short-news right */
.boxes {
    background-color: #F6F6F9;
        padding: 16px 20px;
        width: 405px;
        margin-bottom: 20px;
}
.short-news-right-box_img {
        width: 405px;
        height: 477px;
}

.short-news-right_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 6px;
}



.short-news-right_item {
    margin-bottom: 18px;
}

.short-news-right_item:not(:last-child) {
    border-bottom: solid 4px #E4E4E4;
    padding-bottom: 14px;
}
.short-news-right_item_heding {
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    width: 327px;
    margin-bottom: 11px;
}

/* site app qismi */

.site-app {
    padding: 19px 19px 0 19px;
    background-color:#F6F6F9;
    display: flex;
    align-items:center;
    border-radius: 5px;
}



.site-app-middle {
    width: 538px;
    margin-right: 63px;
}

.site-app-middle_title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #295093;
    margin-bottom: 10px;
}

.site-app-middle_desc {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #333333;
}

.site-app-the-end {
    display: flex;
    gap: 19px;
}

.site-app-the-end_img {
    width: 162px;
    height: 50px;
}

/* ARTICLe */
.articel {
    width: 774px;
    margin-right: 20px;
    border-bottom: solid 2px #EBEBEB;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.article-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color:#000000;
    margin-bottom: 16px;
}


.article-desc {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto";
    margin-top: 15px;
}
.aricel-img {
    margin-top: 14px;
    margin-bottom: 17px;
}
.articel_body p:first-child {
  margin-top: 0;
}
.articel_body {
    margin-bottom: 36px;
}
.tags-list {
    display: flex;
    gap: 12px;
}
.tags_link {
    font-size: 18px;
    line-height: 21px;
}


/*  */









/* Responsive */
/* @media (max-width: 1300px) {
    .header-top-wrapper {
        width: 100%;
        
    } */
/* } */
@media (max-width: 1230px) {
   .covid-about__covid-box_title {
    margin-right: 40px;
    }
     .covid-about_item {
        padding-right: 15px;
            padding-left: 15px;
     }
     .covid-about_item_red {
        padding-top: 0;
        padding-bottom: 0;
     }

         .short-news-left {
            width: calc(794 / 1240 * 100%);
         }
                 .short-news-right {
            width: calc(405 / 1240 * 100%);
         }
         .site-app {
            flex-wrap: wrap;
            gap: 30px;
         }
            
}
@media (max-width: 1100px) {
    .covid-about {
        flex-direction: column;
        gap: 20px;
    }
    .covid-about_item_red {
        border:none
    }
   .covid-about__covid-box_title {
      width: auto;
      justify-content: center;
   }
   .covid-about__covid-box {
    justify-content: center;
   }
   .short-news-right {
    margin-left: 20px;
   }
  
}

@media (max-width: 1000px) {
    .header_top_wrapper_left {
        flex-direction: column;
        gap: 20px;
        margin-top: 38px;
    }
      .footer-top {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }
       .footer-top-text {
        max-width: 400px;
       }

     .footer-top_link {
        margin-right: 0;
     }
        .footer-bottom {
            align-items: center;
            justify-content: center;
            gap:20px;
            flex-direction: column-reverse;
        }
        .footer-bottom_decription {
            width: 500px;
        }
      .footer-bottom-item {
                    width: 100%;
                }
        .subscription_btn,
        .subscription_title {
            font-size: 17px;
            line-height: 20px;
        }
        .short-news-left,.boxes,.short-news-right
         {
            width: 100%;
        }
    
   
}
@media (max-width: 920px) {
  .site-app {
    align-items:center;
    justify-content: center;
  }
 }
@media (max-width: 850px) {
    .short-news-right-box_img {
            width: 100%;
            height: auto;
        }
  .sitenav {
    font-size: 16px;
    line-height: 20px;
  }
  .site-app_img {
    width: 100px;
  }
  .site-app-the-end_img {
    font-size: 17px;
    line-height: 20px;
  }
  .app-middle_desc  {
    font-size: 15px;
    line-height: 17px;
  }

}
@media (max-width: 750px) {
    .currency {
        display: none;
    }
    .header-top-wrapper {
        flex-direction: column;
        gap: 20px;
    }
        .header_top_wrapper__right {
            margin-left: 0;
        }

        .covid-about__list {
            flex-direction: column;

           
        }
        .covid-about_item {
            border-left: none;
            padding: 15px;
            width: 300px;
        }
       .covid-about_item:not(:last-child) {
        margin-bottom: 20px;
       }
       
       .short-news-left-list-box {
        width: 433px;
        text-align: center;
       }
    
  
           
 }
 @media (max-width: 660px) {
  .subscription_img {
   display: none;
  }
  .subscription {
    flex-direction: column;
    align-items:center
  }
  .subscription_title {
   text-align: center;
   margin-bottom: 10px;

  }
 }

 @media (max-width: 600px) {
    .covid-about__covid-box {
        flex-direction: column;
        gap: 10px;
    }
     .covid-about__covid-box_title {
        margin-right: 0;
    }
        .short-news-left-item {
            flex-direction: column;
            align-items: center
        }
 }